body{
      background-color: light gray;
    }
h1{
			margin-left:10px;
			font-size: 50px;
			text-align: center;
			background-color: powderblue;
      
		}
		h2.others{
			margin-left:auto;
			font-size: 15px;
    			border-style: solid;
			border-color: black;
 			border-width: 5px;
			background-color: white;
		}
		p.others{
			font-size: 15px;
			margin-left: auto;
			border-style: solid;
			border-color: back;
 			border-width: 5px;
			background-color: white;
			}
	     img{
		       display: block;
  			margin-left: auto;
 			margin-right: auto;
  			border-radius: 50%;
		}
	h2.nickname{
			text-align: center;
		}
	p.nickname {
		text-align: center;
		}
		
